* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root {
    --grey: #2e2e2e;
    --dark-grey: #333333;
    --light-grey: #9f9f9f;
    --red: #db4a39;
    --background-light-grey: #f1f1f1;
    --white: #ffffff;
    --blue: #0099ff;
    --text-grey: #999999;
    --between-grey: #e9e9e9;
    --contact-grey: #e0e0e0;
}

.container {
    width: 960px;
    margin: auto;
    background-color: var(--between-grey);
}

.top-nav {
    height: 62px;
    background-color: var(--grey);
    color: var(--light-grey);
}

.top-nav li {
    font-size: 12px;
    list-style: none;
    line-height: 14px;
    border-right: 1px solid var(--light-grey);
    display: inline-block;
    padding: 23px 6px 23px 5px;
}

.top-nav ul img {
    float: right;
    padding: 14px;
    margin: 10px;
    background-color: #9f9f9f;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.top-nav ul img:hover {
    background-color: var(--red);
}

.top-nav li:nth-child(4) {
    border-right: 0;
}

.bottom-nav {
    height: 76px;
    background-color: var(--white);
}

.bottom-nav ul {
    display: inline-block;
}

.bottom-nav li {
    font-size: 14px;
    list-style: none;
    line-height: 14px;
    display: inline-block;
    padding: 41px 5px 20px;
}

.bottom-nav li:hover {
    color: var(--blue);
    border-bottom: 5px solid var(--blue);
}

.logo-space {
    margin-top: 5px;
    display: flex;
    background-color: var(--white);
}

.logo-area {
    align-items: center;
    margin-top: 47px;
    flex: 1;
}

.search {
    flex: 1;
    align-content: right;
    justify-content: right;
    float: right;
    align-items: center;
}

.logo-space img {
    display: table-cell;
    vertical-align: auto;

}

.button {
    background-color: var(--blue);
    border: none;
    color: white;
    text-align: center;
    padding: 6px;
    font-size: 14px;
    border-radius: 4px;
    width: fit-content;
    height: 30px;
}

.search input[type=text] {
    padding: 6px;
    margin-top: 67px;
    margin-right: 5px;
    font-size: 14px;
    background-color: var(--background-light-grey);
    color: var(--text-grey);
    border: none;
    border-radius: 4px;
    height: 30px;
    margin-bottom: 45px;
}

.your-title {
    display: flex;
    border-top: 5px solid #e9e9e9;
    height: 450px;
    background-color: var(--background-light-grey);
}

.title-area {
    flex: 1;
    padding-top: 150px;
}

.title-area p {
    line-height: 2;
}

.bold-text {
    font-weight: bold;
    font-size: 25px;
    white-space: pre;
}

.slider-area {
    flex: 1;

    align-self: center;
    width: 550px;
    height: 440px;
    background-color: var(--dark-grey);
    border: none;
}

.slider-area p {
    padding-top: 220px;
    color: var(--white);
    font-size: 20px;
    text-align: center;
}

.title-area button {
    margin-top: 20px;
    margin-bottom: 90px;
}

.screens {
    display: flex;
}

.left-side {
    flex: 1;
}

.right-side {
    flex: 1;
}
.small-boxes{
    display: flex;
}
.small-boxs-one {
    flex: 1;
    align-self: center;
    width: 85px;
    height: 80px;
    background-color: var(--dark-grey);
    border: none;
}
.contact{
    background-color: var(--white);
    padding-top:40px;
    padding-bottom: 40px;
    height: 200px;
    width: 100%;
}
.square{
    border-left:10px solid var(--blue);
    background-color: var(--contact-grey);
    height: 120px;
    width:100%;
    vertical-align: middle;
}
.large-font{
    font-size: 36px;
line-height: 43px;
color: #333333;
font-family: "Georgia";
}
.small-font{
    font-size: 18px;
line-height: 22px;
color: #333333;
font-family: "Georgia";
}